* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
}

header {
    background: goldenrod;
    display: table;
    width: 100%;
}

img {
    width: 100%;
}

.col-4 {
    border: 1px solid #bbb;
}
