* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
}

header {
    background: goldenrod;
    display: table;
    width: 100%;
    margin-bottom: 20px
}

img {
    width: 100%;
}

.col-4 {
    border: 1px solid #bbb;
    margin-bottom: 20px;
}

.col-4 h2, .col-4 p {
    padding: 20px;
}
